<!DOCTYPE html>
<html>
<head>
    <title>pgh SPA w/ redux</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0"/>
    <base href="~/" />
    <!-- css libraries -->
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="~/css/reactselect.css" />
    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/site.css" asp-append-version="true" />
</head>
<body>
    @RenderBody()
    <!-- js libraries -->
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/dist/vendor.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
