@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <title>pgh spa redux</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0"/>
        <!-- css libraries -->
        <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto" rel="stylesheet">
        <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/account/auth.css" asp-append-version="true" />
    </head>
    <body class="login">
        <div class="row">
            <div class="col-md-12">
                <img src="~/images/ip.png" class="img-responsive center-block" style="opacity: 0.8; max-height: 350px !important;"/> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 style="letter-spacing: 1px; padding: 3px; margin-top: 1em; !important;">Sorry,<br/><strong>you don't have access.</strong></h1>
            </div>
        </div>
    </body>
    <!-- js libraries -->   
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/dist/vendor.js" asp-append-version="true"></script>
    <script src="~/js/account/auth.js" asp-append-version="true"></script>
</html>