@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <title>pgh spa redux</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0"/>
        <!-- css libraries -->
        <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto" rel="stylesheet">
        <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/account/auth.css" asp-append-version="true" />
    </head>
    <body>
        <div id="overlayloader" class="overlayloader">
            <div class="loader"></div>
        </div>  
        <div class="row login">
            <div class="col-md-12">
                <img src="~/images/ip.png" class="img-responsive center-block" style="max-height: 350px !important; margin-bottom: 25px;"/> 
            </div>
            <div class="col-md-12 text-center">
                <form asp-action="ExternalLogin" method="post" class="form-horizontal">
                    <div> 
                        <p>
                            <button id="login" type="submit" class="btn btn-default overlaytrigger" name="provider" value="Microsoft" title="Log in using your City email">Log in</button>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </body>
        <!-- js libraries -->
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/dist/vendor.js" asp-append-version="true"></script>
    <script src="~/js/account/auth.js" asp-append-version="true"></script>
</html>

