@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <title>PGH Works</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0" />
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/account/auth.css" />
</head>

<body>
    <div id="overlayloader" class="overlayloader">
        <div class="loader"></div>
    </div>
    <div class="row login">
        <div class="col-md-12 text-center">
            <img src="~/images/ip.png" class="auth-img img-responsive" />
        </div>
        <div class="col-md-12 text-center">
                <form asp-action="ExternalLogin" method="post">
                    <button id="login" type="submit" class="btn btn-secondary overlaytrigger" name="provider" value="Microsoft" title="Log in using your City email">Log in</button>
                </form>
        </div>
    </div>
</body>
<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="~/js/account/auth.js"></script>
</html>